@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}
.containerForCounter {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  top: 50px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 3px #1b1a1a4c;
}

.call-message-container {
  font-size: 25px;
  text-align: center;
}

.container-hello {
  text-align: center;
  background: rgba(240, 202, 255, 0.784);
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  max-width: 600px;
}

.container-hello h1 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}

.container-hello h1:first-child {
  font-size: 2.5rem;
  color: #2c3e50;
  font-weight: 100;
}

.container-hello h1:last-child {
  font-size: 1.5rem;
  color: #3e4545;
  font-weight: 400;
}

